DEBUG=False
SECRET_KEY=******
ALLOWED_HOSTS=localhost,127.0.0.1,converted-files.cubinez.ru
DB_NAME=converted_files_db
DB_USER=converted_user
DB_PASSWORD=*******
DB_HOST=localhost
DB_PORT=5432

# Admin configuration
ADMIN_EMAIL=cubinez85@cubinez.ru
USERNAME=admin
ADMIN_PASSWORD=******
SUPERUSER=cubinez85
PASSWORD_SUPERUSER=******
